body{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.textFotoPortada{
    background-color: white;
    opacity: 0.7;
    color: black;
    font-size: 35px;
}

.letra{
    font-size: 120px;
    font-family: 'Nunito', sans-serif;
}
.tamanio{
    font-size: 40px;
}
h1{
    /*background-color: rgba(82, 81, 81, 0.116);*/
    text-shadow: 10px 0px 6px #52517d;
}

