body{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.textFotoPortada{
    background-color: white;
    opacity: 0.7;
    color: black;
    font-size: 35px;
}
.prenav{
    font-size: 12px;
}

