body{
    text-align: center;
}
.botonBack{
    text-align:left ;
}
img {
    padding: 10px;
}
.prevan{
    padding: 0;
    margin: 0;

}
.Left{ 
    display:flex;
    flex-direction: row;
    text-align: left;
    padding: 900px;
  
}
/*.aver{
    padding-left: 0px;
    padding-right: 0px;
    margin-left:0px;
    margin-right:0px;
}*/
.container, .container-fluid, .container-lg, .container-md, .container-sm, .container-xl{
    padding-right: 0px;
    padding-left: 0px;
}
.img{
    padding: 0px;
}
.secciones{
    margin-left: 70px;

}
.horizontal{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-top:50px;
    padding-bottom: 50px;
}
.ajuste{
    padding: 0px;
}
.ofertas{
    padding: 25px;
}
.posicion{
    padding-top:25px ;
    padding-bottom: 25px;
}
.w-100{
    height: 370px;
}
.carrusel{
    width: 100%;
    height: 900px;
}